<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="plugin.video.nzbdav">
		<category id="connection" label="30000" help="30356">
			<group id="1" label="30004">
				<setting id="nzbdav_url" type="string" label="30005" help="30232">
					<level>0</level>
					<default>http://localhost:3000</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30005</heading>
					</control>
				</setting>
				<setting id="nzbdav_api_key" type="string" label="30003" help="30233">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="action_test_nzbdav" type="action" label="30114" help="30234">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_nzbdav)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="2" label="30006">
				<setting id="webdav_url" type="string" label="30007" help="30235">
					<level>0</level>
					<default>http://localhost:8080</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30007</heading>
					</control>
				</setting>
				<setting id="webdav_username" type="string" label="30008" help="30236">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30008</heading>
					</control>
				</setting>
				<setting id="webdav_password" type="string" label="30009" help="30237">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30009</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="action_test_webdav" type="action" label="30188" help="30238">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_webdav)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="3" label="30001">
				<setting id="nzbhydra_enabled" type="boolean" label="30125" help="30239">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="hydra_url" type="string" label="30002" help="30240">
					<level>0</level>
					<default>http://localhost:5076</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30002</heading>
					</control>
				</setting>
				<setting id="hydra_api_key" type="string" label="30003" help="30241">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="action_test_hydra" type="action" label="30113" help="30242">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_hydra)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="4" label="30126">
				<setting id="prowlarr_enabled" type="boolean" label="30127" help="30243">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="prowlarr_host" type="string" label="30128" help="30244">
					<level>0</level>
					<default>http://localhost:9696</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30128</heading>
					</control>
				</setting>
				<setting id="prowlarr_api_key" type="string" label="30129" help="30245">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30129</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="prowlarr_indexer_ids" type="string" label="30130" help="30246">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30130</heading>
					</control>
				</setting>
				<setting id="action_test_prowlarr" type="action" label="30131" help="30247">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_prowlarr)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="5" label="30228">
				<setting id="tmdb_api_key" type="string" label="30229" help="30248">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30229</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
		</category>
		<category id="nzbget" label="30208" help="30357">
			<group id="1" label="30209">
				<setting id="nzbget_enabled" type="boolean" label="30210" help="30249">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="nzbget_url" type="string" label="30211" help="30250">
					<level>0</level>
					<default>http://localhost:6789</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30211</heading>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="nzbget_username" type="string" label="30212" help="30251">
					<level>0</level>
					<default>nzbget</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30212</heading>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="nzbget_password" type="string" label="30213" help="30252">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30213</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="nzbget_category" type="string" label="30214" help="30253">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30214</heading>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="action_test_nzbget" type="action" label="30215" help="30254">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_nzbget)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="nzbget_smb_root" type="string" label="30216" help="30255">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30216</heading>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="action_test_nzbget_smb" type="action" label="30217" help="30256">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_nzbget_smb)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
					<dependencies>
						<dependency type="visible" setting="nzbget_enabled">true</dependency>
					</dependencies>
				</setting>
			</group>
		</category>
		<category id="indexers" label="30163" help="30358">
			<group id="1" label="30164">
				<setting id="direct_indexers_enabled" type="boolean" label="30165" help="30289">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30166">
				<setting id="direct_indexer_nzblife_enabled" type="boolean" label="30174" help="30257">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzblife_url" type="string" label="30168" help="30258">
					<level>0</level>
					<default>https://api.nzb.su/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzblife_api_key" type="string" label="30003" help="30259">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbgeek_enabled" type="boolean" label="30179" help="30260">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbgeek_url" type="string" label="30168" help="30261">
					<level>0</level>
					<default>https://api.nzbgeek.info/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbgeek_api_key" type="string" label="30003" help="30262">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbfinder_enabled" type="boolean" label="30180" help="30263">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbfinder_url" type="string" label="30168" help="30264">
					<level>0</level>
					<default>https://nzbfinder.ws/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbfinder_api_key" type="string" label="30003" help="30265">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_drunkenslug_enabled" type="boolean" label="30175" help="30266">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_drunkenslug_url" type="string" label="30168" help="30267">
					<level>0</level>
					<default>https://drunkenslug.com/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_drunkenslug_api_key" type="string" label="30003" help="30268">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbplanet_enabled" type="boolean" label="30181" help="30269">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbplanet_url" type="string" label="30168" help="30270">
					<level>0</level>
					<default>https://api.nzbplanet.net/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_nzbplanet_api_key" type="string" label="30003" help="30271">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_dognzb_enabled" type="boolean" label="30182" help="30272">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_dognzb_url" type="string" label="30168" help="30273">
					<level>0</level>
					<default>https://api.dognzb.cr/api</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_dognzb_api_key" type="string" label="30003" help="30274">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="3" label="30167">
				<setting id="direct_indexer_custom1_enabled" type="boolean" label="30169" help="30275">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom1_name" type="string" label="30172" help="30276">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30172</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom1_url" type="string" label="30168" help="30277">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom1_api_key" type="string" label="30003" help="30278">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom2_enabled" type="boolean" label="30170" help="30279">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom2_name" type="string" label="30172" help="30280">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30172</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom2_url" type="string" label="30168" help="30281">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom2_api_key" type="string" label="30003" help="30282">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom3_enabled" type="boolean" label="30171" help="30283">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom3_name" type="string" label="30172" help="30284">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30172</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom3_url" type="string" label="30168" help="30285">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30168</heading>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="direct_indexer_custom3_api_key" type="string" label="30003" help="30286">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="action_manage_indexers" type="action" label="30195" help="30287">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/manage_indexers)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
				<setting id="action_test_direct_indexers" type="action" label="30173" help="30288">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/test_direct_indexers)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
					<dependencies>
						<dependency type="enable" setting="direct_indexers_enabled">true</dependency>
					</dependencies>
				</setting>
			</group>
		</category>
		<category id="player_installation" label="30010" help="30359">
			<group id="1">
				<setting id="action_install_player" type="action" label="30011" help="30290">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/install_player)</data>
					<control type="button" format="action">
						<close>false</close>
					</control>
				</setting>
				<setting id="action_install_player_other" type="action" label="30160" help="30291">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/install_player_other)</data>
					<control type="button" format="action">
						<close>false</close>
					</control>
				</setting>
			</group>
		</category>
		<category id="quality_filters" label="30012" help="30360">
			<group id="1" label="30013">
				<setting id="filter_2160p" type="boolean" label="30014" help="30293">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_1080p" type="boolean" label="30015" help="30294">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_720p" type="boolean" label="30016" help="30295">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_480p" type="boolean" label="30017" help="30296">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30018">
				<setting id="filter_hdr10" type="boolean" label="30019" help="30297">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_hdr10plus" type="boolean" label="30020" help="30298">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_dolby_vision" type="boolean" label="30021" help="30299">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_hlg" type="boolean" label="30022" help="30300">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_sdr" type="boolean" label="30023" help="30292">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="30024">
				<setting id="filter_atmos" type="boolean" label="30025" help="30301">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_truehd" type="boolean" label="30026" help="30302">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_dtshd_ma" type="boolean" label="30027" help="30303">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_dtsx" type="boolean" label="30028" help="30304">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_ddplus" type="boolean" label="30029" help="30305">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_dd" type="boolean" label="30030" help="30306">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_aac" type="boolean" label="30031" help="30307">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="4" label="30032">
				<setting id="filter_hevc" type="boolean" label="30033" help="30308">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_avc" type="boolean" label="30034" help="30309">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_av1" type="boolean" label="30035" help="30310">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_vp9" type="boolean" label="30036" help="30311">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_mpeg2" type="boolean" label="30037" help="30312">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="5" label="30038">
				<setting id="filter_english" type="boolean" label="30039" help="30313">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_spanish" type="boolean" label="30040" help="30314">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_french" type="boolean" label="30041" help="30315">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_german" type="boolean" label="30042" help="30316">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_italian" type="boolean" label="30043" help="30317">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_portuguese" type="boolean" label="30044" help="30318">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_dutch" type="boolean" label="30045" help="30319">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_russian" type="boolean" label="30046" help="30320">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_japanese" type="boolean" label="30047" help="30321">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_korean" type="boolean" label="30048" help="30322">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_chinese" type="boolean" label="30049" help="30323">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_arabic" type="boolean" label="30050" help="30324">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="filter_hindi" type="boolean" label="30051" help="30325">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="keyword_filters" label="30052" help="30361">
			<group id="1" label="30053">
				<setting id="filter_release_group" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<visible>false</visible>
					<control type="edit" format="string"/>
				</setting>
				<setting id="filter_exclude_release_group" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<visible>false</visible>
					<control type="edit" format="string"/>
				</setting>
				<setting id="action_configure_preferred_groups" type="action" label="30054" help="30326">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/configure_preferred_groups)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="action_configure_excluded_groups" type="action" label="30055" help="30327">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.nzbdav/configure_excluded_groups)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="2" label="30056">
				<setting id="filter_min_size" type="integer" label="30057" help="30328">
					<level>0</level>
					<default>0</default>
					<control type="edit" format="integer">
						<heading>30057</heading>
					</control>
				</setting>
				<setting id="filter_max_size" type="integer" label="30058" help="30329">
					<level>0</level>
					<default>0</default>
					<control type="edit" format="integer">
						<heading>30058</heading>
					</control>
				</setting>
			</group>
			<group id="3" label="30059">
				<setting id="filter_exclude_keywords" type="string" label="30060" help="30330">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30060</heading>
					</control>
				</setting>
				<setting id="filter_require_keywords" type="string" label="30061" help="30331">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30061</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="sorting" label="30062" help="30362">
			<group id="1">
				<setting id="sort_order" type="integer" label="30063" help="30332">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30077">0</option>
							<option label="30078">1</option>
							<option label="30079">2</option>
							<option label="30080">3</option>
							<option label="30081">4</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="max_results" type="integer" label="30064" help="30333">
					<level>0</level>
					<default>25</default>
					<control type="edit" format="integer">
						<heading>30064</heading>
					</control>
				</setting>
			</group>
			<group id="2" label="30065">
				<setting id="auto_select_best" type="boolean" label="30066" help="30334">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="advanced" label="30067" help="30363">
			<group id="1" label="30068">
				<setting id="poll_interval" type="integer" label="30069" help="30335">
					<level>0</level>
					<default>1</default>
					<control type="edit" format="integer">
						<heading>30069</heading>
					</control>
				</setting>
				<setting id="download_timeout" type="integer" label="30070" help="30336">
					<level>0</level>
					<default>3600</default>
					<control type="edit" format="integer">
						<heading>30070</heading>
					</control>
				</setting>
				<setting id="submit_timeout" type="integer" label="30122" help="30337">
					<level>0</level>
					<default>300</default>
					<control type="edit" format="integer">
						<heading>30122</heading>
					</control>
				</setting>
				<setting id="clear_queue_on_submit" type="integer" label="30197" help="30338">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30198">0</option>
							<option label="30199">1</option>
							<option label="30200">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2" label="30071">
				<setting id="cache_ttl" type="integer" label="30072" help="30339">
					<level>0</level>
					<default>300</default>
					<control type="edit" format="integer">
						<heading>30072</heading>
					</control>
				</setting>
			</group>
			<group id="3" label="30073">
				<setting id="stream_auto_retry" type="boolean" label="30074" help="30340">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="stream_max_retries" type="integer" label="30075" help="30341">
					<level>0</level>
					<default>3</default>
					<control type="edit" format="integer">
						<heading>30075</heading>
					</control>
				</setting>
				<setting id="stream_retry_delay" type="integer" label="30076" help="30342">
					<level>0</level>
					<default>5</default>
					<control type="edit" format="integer">
						<heading>30076</heading>
					</control>
				</setting>
			</group>
			<group id="4" label="30183">
				<setting id="fallback_streams_enabled" type="boolean" label="30184" help="30343">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="fallback_streams_max" type="integer" label="30185" help="30344">
					<level>0</level>
					<default>5</default>
					<control type="edit" format="integer">
						<heading>30185</heading>
					</control>
				</setting>
				<setting id="fallback_submit_delay" type="integer" label="30205" help="30345">
					<level>0</level>
					<default>120</default>
					<control type="edit" format="integer">
						<heading>30205</heading>
					</control>
				</setting>
			</group>
			<group id="5" label="30118">
				<setting id="proxy_convert_subs" type="boolean" label="30119" help="30346">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="force_remux_threshold_mb" type="integer" label="30123" help="30347">
					<level>0</level>
					<default>15000</default>
					<control type="edit" format="integer">
						<heading>30123</heading>
					</control>
				</setting>
				<setting id="force_remux_mode" type="integer" label="30140" help="30348">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30152">0</option>
							<option label="30142">1</option>
							<option label="30141">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="force_remux_mode_v2_migrated" type="boolean">
					<level>0</level>
					<default>false</default>
					<visible>false</visible>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="6" label="30143">
				<setting id="strict_contract_mode" type="integer" label="30144" help="30349">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30145">0</option>
							<option label="30146">1</option>
							<option label="30147">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="density_breaker_enabled" type="boolean" label="30148" help="30350">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="zero_fill_budget_enabled" type="boolean" label="30149" help="30351">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="retry_ladder_enabled" type="boolean" label="30150" help="30352">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="passthrough_stall_wait" type="integer" label="30206" help="30353">
					<level>0</level>
					<default>20</default>
					<control type="edit" format="integer">
						<heading>30206</heading>
					</control>
				</setting>
				<setting id="readahead_buffer_mb" type="integer" label="30207" help="30354">
					<level>0</level>
					<default>256</default>
					<control type="edit" format="integer">
						<heading>30207</heading>
					</control>
				</setting>
				<setting id="send_200_no_range" type="boolean" label="30151" help="30355">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="cache_warning_shown" type="boolean">
					<level>0</level>
					<default>false</default>
					<visible>false</visible>
					<control type="toggle"/>
				</setting>
				<setting id="cache_dialog_dismissed" type="boolean">
					<level>0</level>
					<default>false</default>
					<visible>false</visible>
					<control type="toggle"/>
				</setting>
				<setting id="webdav_content_root" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<visible>false</visible>
					<control type="edit" format="string"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
